# WEATHER DATA FROME METEOSTAT PROCESSING

In [33]:
from meteostat import Point, Hourly
from datetime import datetime
import pandas as pd

In [34]:
# Define the location: Manhattan, NYC
location = Point(40.7831, -73.9712)

# Define the time period: November 1, 2023, to May 31, 2024
start = datetime(2023, 11, 1)
end = datetime(2024, 5, 31)

In [35]:
# Fetch hourly weather data
weather_data = Hourly(location, start, end)
weather_data = weather_data.fetch()

print(weather_data.head())

                     temp  dwpt  rhum  prcp  snow  wdir  wspd  wpgt    pres  \
time
2023-11-01 00:00:00   8.9   2.2  63.0   0.0   NaN   0.0   0.0   NaN  1016.0
2023-11-01 01:00:00   9.4   0.6  54.0   0.0   NaN  50.0   9.4   NaN  1015.8
2023-11-01 02:00:00   9.0   0.7  56.0   0.1   NaN  50.0   9.0   NaN  1017.0
2023-11-01 03:00:00   9.0   0.7  56.0   0.2   NaN  60.0   9.0   NaN  1016.0
2023-11-01 04:00:00   8.3   1.2  61.0   0.0   NaN   0.0   0.0   NaN  1014.6

                     tsun  coco
time
2023-11-01 00:00:00   NaN   3.0
2023-11-01 01:00:00   NaN   3.0
2023-11-01 02:00:00   NaN   7.0
2023-11-01 03:00:00   NaN   7.0
2023-11-01 04:00:00   NaN   3.0

FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.

In [36]:
print(weather_data.head(10))

                     temp  dwpt  rhum  prcp  snow   wdir  wspd  wpgt    pres  \
time
2023-11-01 00:00:00   8.9   2.2  63.0   0.0   NaN    0.0   0.0   NaN  1016.0
2023-11-01 01:00:00   9.4   0.6  54.0   0.0   NaN   50.0   9.4   NaN  1015.8
2023-11-01 02:00:00   9.0   0.7  56.0   0.1   NaN   50.0   9.0   NaN  1017.0
2023-11-01 03:00:00   9.0   0.7  56.0   0.2   NaN   60.0   9.0   NaN  1016.0
2023-11-01 04:00:00   8.3   1.2  61.0   0.0   NaN    0.0   0.0   NaN  1014.6
2023-11-01 05:00:00   8.3   1.2  61.0   0.0   NaN    0.0   0.0   NaN  1014.4
2023-11-01 06:00:00   8.9   1.8  61.0   0.0   NaN  300.0   7.6   NaN  1014.0
2023-11-01 07:00:00   8.0   3.1  71.0   0.2   NaN  358.0   6.0   NaN  1015.0
2023-11-01 08:00:00   7.2   2.9  74.0   0.3   NaN  300.0  14.8   NaN  1013.9
2023-11-01 09:00:00   6.0   1.5  73.0   0.2   NaN   30.0  13.0   NaN  1015.0

                     tsun  coco
time
2023-11-01 00:00:00   NaN   3.0
2023-11-01 01:00:00   NaN   3.0
2023-11-01 02:00:00   NaN   7.0
2023-11-01 03:00:00   NaN   7.0
2023-11-01 04:00:00   NaN   3.0
2023-11-01 05:00:00   NaN   3.0
2023-11-01 06:00:00   NaN   3.0
2023-11-01 07:00:00   NaN   7.0
2023-11-01 08:00:00   NaN   8.0
2023-11-01 09:00:00   NaN   7.0

In [37]:
# Keep only the specified columns
selected_columns = ["temp", "rhum", "prcp", "wspd", "pres"]
weather_data = weather_data[selected_columns]

# Show the first few rows to verify
print(weather_data.head())

                     temp  rhum  prcp  wspd    pres
time
2023-11-01 00:00:00   8.9  63.0   0.0   0.0  1016.0
2023-11-01 01:00:00   9.4  54.0   0.0   9.4  1015.8
2023-11-01 02:00:00   9.0  56.0   0.1   9.0  1017.0
2023-11-01 03:00:00   9.0  56.0   0.2   9.0  1016.0
2023-11-01 04:00:00   8.3  61.0   0.0   0.0  1014.6

In [38]:
import pandas as pd

weather_data['hour'] = weather_data.index.hour

# Create a 3-hour bucket
weather_data['hour_bucket'] = (weather_data['hour'] // 3) * 3

# Group by date and hour_bucket, then calculate the mean for each group
weather_data = weather_data.groupby([weather_data.index.date, 'hour_bucket']).mean()

# Reset the index to have a cleaner DataFrame
weather_data = weather_data.reset_index()

# Show the first few rows to verify
print(weather_data.head())

      level_0  hour_bucket      temp       rhum      prcp       wspd  \
0  2023-11-01            0  9.100000  57.666667  0.033333   6.133333
1  2023-11-01            3  8.533333  59.333333  0.066667   3.000000
2  2023-11-01            6  8.033333  68.666667  0.166667   9.466667
3  2023-11-01            9  6.066667  71.333333  0.066667  12.400000
4  2023-11-01           12  6.066667  74.000000  0.300000   9.800000

          pres  hour
0  1016.266667   1.0
1  1015.000000   4.0
2  1014.300000   7.0
3  1014.733333  10.0
4  1016.233333  13.0

In [39]:
# Generate summary statistics
summary_statistics = weather_data.describe()

# Display the summary statistics
print(summary_statistics)

       hour_bucket         temp         rhum         prcp         wspd  \
count  1697.000000  1697.000000  1697.000000  1697.000000  1697.000000
mean     10.493813     8.624985    60.133176     0.179572    10.204321
std       6.878588     6.479045    18.622229     0.754833     5.196290
min       0.000000    -7.766667    15.333333     0.000000     0.000000
25%       3.000000     4.100000    45.666667     0.000000     6.666667
50%       9.000000     8.033333    58.000000     0.000000     9.466667
75%      15.000000    12.000000    75.666667     0.000000    13.000000
max      21.000000    29.300000    97.666667    10.333333    40.300000

              pres         hour
count  1697.000000  1697.000000
mean   1016.605912    11.493223
std       8.976776     6.879530
min     983.800000     0.000000
25%    1010.933333     4.000000
50%    1016.333333    10.000000
75%    1022.400000    16.000000
max    1039.333333    22.000000

In [40]:
# Check for null values in each column
null_values = weather_data.isnull().sum()

# Display the null values count for each column
print(null_values)

level_0        0
hour_bucket    0
temp           0
rhum           0
prcp           0
wspd           0
pres           0
hour           0
dtype: int64

# PRIMARY LAND USE TAX LOT PROCESSING

In [41]:
import os
import requests
import pandas as pd

# Direct download URL for the full CSV file (this can be get from the export button on the website to be faster)
# This way is a bit slow, I tried using API first but some how it return data with less row so i opt for this
csv_download_url = "https://data.cityofnewyork.us/api/views/64uk-42ks/rows.csv?accessType=DOWNLOAD"

# Directory to save the downloaded data
file_path = '../data/raw_external_data/'
file_name = 'nyc_pluto_full_data.csv'  

# Create the directory if it doesn't exist
os.makedirs(file_path, exist_ok=True)

# Make the HTTP GET request to download the CSV file
response = requests.get(csv_download_url)

# Check if the request was successful
if response.status_code == 200:
    full_file_path = os.path.join(file_path, file_name)
    with open(full_file_path, 'wb') as f:
        f.write(response.content)
    print(f"Data successfully downloaded and saved to {full_file_path}")
else:
    print(f"Failed to download data: {response.status_code} - {response.text}")

# Read the downloaded CSV file into a DataFrame
pluto_df = pd.read_csv(full_file_path)

# Display the first few rows 
print("First few rows of the dataset:")
print(pluto_df.head())

Data successfully downloaded and saved to ../data/raw_external_data/nyc_pluto_full_data.csv

DtypeWarning: Columns (17,18,20,21,22,24,25,52,61,62,97) have mixed types. Specify dtype option on import or set low_memory=False.

First few rows of the dataset:
  borough  block  lot  community board  census tract 2010  cb2010  schooldist  \
0      SI    490   45            501.0               21.0  2019.0        31.0
1      SI   2965   12            501.0               36.0  1000.0        31.0
2      SI   2965  110            501.0               36.0  1000.0        31.0
3      SI   2965   11            501.0               36.0  1000.0        31.0
4      SI   2965   20            501.0               36.0  1000.0        31.0

   council district  postcode firecomp  ...  landmkdate  basempdate  masdate  \
0              49.0   10304.0     L077  ...         NaN         NaN      NaN
1              49.0   10305.0     E153  ...         NaN         NaN      NaN
2              49.0   10305.0     E153  ...         NaN         NaN      NaN
3              49.0   10305.0     E153  ...         NaN         NaN      NaN
4              49.0   10305.0     E153  ...         NaN         NaN      NaN

  polidate edesigdate geom dcpedited notes    bct2020     bctcb2020
0      NaN        NaN  NaN       NaN   NaN  5002100.0  5.002100e+10
1      NaN        NaN  NaN       NaN   NaN  5003600.0  5.003600e+10
2      NaN        NaN  NaN       NaN   NaN  5003600.0  5.003600e+10
3      NaN        NaN  NaN       NaN   NaN  5003600.0  5.003600e+10
4      NaN        NaN  NaN       NaN   NaN  5003600.0  5.003600e+10

[5 rows x 101 columns]

In [42]:
# Display basic statistics 
print("\nBasic statistics of the dataset:")
print(pluto_df.describe(include='all'))

Basic statistics of the dataset:
       borough          block            lot  community board  \
count   859012  859012.000000  859012.000000    857488.000000
unique       5            NaN            NaN              NaN
top         QN            NaN            NaN              NaN
freq    324694            NaN            NaN              NaN
mean       NaN    5309.751874     152.316285       354.854901
std        NaN    3698.745853     828.991738       100.866955
min        NaN       0.000000       1.000000       101.000000
25%        NaN    2318.000000      19.000000       306.000000
50%        NaN    4819.000000      39.000000       402.000000
75%        NaN    7461.000000      64.000000       412.000000
max        NaN   99999.000000    9502.000000       595.000000

        census tract 2010         cb2010     schooldist  council district  \
count       857443.000000  857443.000000  856759.000000     857486.000000
unique                NaN            NaN            NaN               NaN
top                   NaN            NaN            NaN               NaN
freq                  NaN            NaN            NaN               NaN
mean           462.437074    2054.409765      22.067873         32.134976
std            377.131135    1158.387379       7.975998         13.265905
min              1.000000       1.000000       1.000000          1.000000
25%            170.000000    1004.000000      17.000000         22.000000
50%            350.000000    2001.000000      24.000000         32.000000
75%            662.000000    3000.000000      29.000000         45.000000
max           9901.000000    9003.000000      32.000000         51.000000

             postcode firecomp  ...  landmkdate  basempdate  masdate polidate  \
count   856747.000000   856740  ...         0.0         0.0      0.0      0.0
unique            NaN      348  ...         NaN         NaN      NaN      NaN
top               NaN     L170  ...         NaN         NaN      NaN      NaN
freq              NaN    11425  ...         NaN         NaN      NaN      NaN
mean     11011.489565      NaN  ...         NaN         NaN      NaN      NaN
std        471.528272      NaN  ...         NaN         NaN      NaN      NaN
min      10001.000000      NaN  ...         NaN         NaN      NaN      NaN
25%      10466.000000      NaN  ...         NaN         NaN      NaN      NaN
50%      11221.000000      NaN  ...         NaN         NaN      NaN      NaN
75%      11370.000000      NaN  ...         NaN         NaN      NaN      NaN
max      12345.000000      NaN  ...         NaN         NaN      NaN      NaN

       edesigdate geom dcpedited notes       bct2020     bctcb2020
count         0.0  0.0     42149   0.0  8.574430e+05  8.574430e+05
unique        NaN  NaN         1   NaN           NaN           NaN
top           NaN  NaN         t   NaN           NaN           NaN
freq          NaN  NaN     42149   NaN           NaN           NaN
mean          NaN  NaN       NaN   NaN  3.513618e+06  3.513618e+10
std           NaN  NaN       NaN   NaN  1.026459e+06  1.026459e+10
min           NaN  NaN       NaN   NaN  1.000100e+06  1.000100e+10
25%           NaN  NaN       NaN   NaN  3.027500e+06  3.027500e+10
50%           NaN  NaN       NaN   NaN  4.007100e+06  4.007100e+10
75%           NaN  NaN       NaN   NaN  4.089201e+06  4.089202e+10
max           NaN  NaN       NaN   NaN  5.990100e+06  5.990100e+10

[11 rows x 101 columns]

In [43]:
# Print all column names
print(pluto_df.columns.tolist())

['borough', 'block', 'lot', 'community board', 'census tract 2010', 'cb2010', 'schooldist', 'council district', 'postcode', 'firecomp', 'policeprct', 'healtharea', 'sanitboro', 'sanitsub', 'address', 'zonedist1', 'zonedist2', 'zonedist3', 'zonedist4', 'overlay1', 'overlay2', 'spdist1', 'spdist2', 'spdist3', 'ltdheight', 'splitzone', 'bldgclass', 'landuse', 'easements', 'ownertype', 'ownername', 'lotarea', 'bldgarea', 'comarea', 'resarea', 'officearea', 'retailarea', 'garagearea', 'strgearea', 'factryarea', 'otherarea', 'areasource', 'numbldgs', 'numfloors', 'unitsres', 'unitstotal', 'lotfront', 'lotdepth', 'bldgfront', 'bldgdepth', 'ext', 'proxcode', 'irrlotcode', 'lottype', 'bsmtcode', 'assessland', 'assesstot', 'exempttot', 'yearbuilt', 'yearalter1', 'yearalter2', 'histdist', 'landmark', 'builtfar', 'residfar', 'commfar', 'facilfar', 'borocode', 'bbl', 'condono', 'tract2010', 'xcoord', 'ycoord', 'latitude', 'longitude', 'zonemap', 'zmcode', 'sanborn', 'taxmap', 'edesignum', 'appbbl', 'appdate', 'plutomapid', 'version', 'sanitdistrict', 'healthcenterdistrict', 'firm07_flag', 'pfirm15_flag', 'rpaddate', 'dcasdate', 'zoningdate', 'landmkdate', 'basempdate', 'masdate', 'polidate', 'edesigdate', 'geom', 'dcpedited', 'notes', 'bct2020', 'bctcb2020']

In [44]:
# Keep only the specified columns
pluto_df = pluto_df[['bldgclass', 'lotarea', 'assesstot', 'latitude', 'longitude']]

# Show the first few rows to verify 
print(pluto_df.head())

  bldgclass  lotarea  assesstot   latitude  longitude
0        F5   5396.0   115650.0  40.628871 -74.075060
1        B2   6040.0    48060.0  40.615436 -74.074678
2        B2   3700.0    49260.0  40.615510 -74.074487
3        B2   3822.0    49380.0  40.615474 -74.074566
4        B3   3600.0    32160.0  40.615273 -74.075031

## Get taxi zone detail for each lot using coordinate

In [45]:
import geopandas as gpd
from shapely.geometry import Point

geometry = [Point(xy) for xy in zip(pluto_df['longitude'], pluto_df['latitude'])]
pluto_gdf = gpd.GeoDataFrame(pluto_df, geometry=geometry)

# Set the initial CRS for pluto_gdf to WGS 84 (EPSG:4326)
pluto_gdf.set_crs(epsg=4326, inplace=True)

,bldgclass,lotarea,assesstot,latitude,longitude,geometry
0,F5,5396.0,115650.0,40.628871,-74.075060,POINT (-74.07506 40.62887)
1,B2,6040.0,48060.0,40.615436,-74.074678,POINT (-74.07468 40.61544)
2,B2,3700.0,49260.0,40.615510,-74.074487,POINT (-74.07449 40.61551)
3,B2,3822.0,49380.0,40.615474,-74.074566,POINT (-74.07457 40.61547)
4,B3,3600.0,32160.0,40.615273,-74.075031,POINT (-74.07503 40.61527)
...,...,...,...,...,...,...
859007,G0,2500.0,12060.0,40.612335,-74.072647,POINT (-74.07265 40.61234)
859008,V0,3640.0,17520.0,40.590156,-74.074790,POINT (-74.07479 40.59016)
859009,V0,2160.0,9360.0,40.598490,-74.063762,POINT (-74.06376 40.59849)
859010,V0,350.0,234.0,40.595247,-74.084032,POINT (-74.08403 40.59525)
859011,V1,2150.0,64350.0,40.605724,-74.083840,POINT (-74.08384 40.60572)

In [46]:
taxi_zones_gdf = gpd.read_file('../data/raw/taxi_zones/taxi_zones.shp')

In [47]:
# Reproject the pluto_gdf to the CRS of taxi_zones_gdf
pluto_gdf = pluto_gdf.to_crs(taxi_zones_gdf.crs)

# Perform the spatial join
pluto_gdf = gpd.sjoin(pluto_gdf, taxi_zones_gdf, how="inner", predicate="within")

# Discard records that do not fall within any taxi zone
pluto_gdf = pluto_gdf.dropna(subset=['index_right'])

In [48]:
print(pluto_gdf.head())
print(f"Number of records after spatial join: {len(pluto_gdf)}")

  bldgclass  lotarea  assesstot   latitude  longitude  \
0        F5   5396.0   115650.0  40.628871 -74.075060
1        B2   6040.0    48060.0  40.615436 -74.074678
2        B2   3700.0    49260.0  40.615510 -74.074487
3        B2   3822.0    49380.0  40.615474 -74.074566
4        B3   3600.0    32160.0  40.615273 -74.075031

                        geometry  index_right  OBJECTID  Shape_Leng  \
0  POINT (963414.987 168400.004)          220       221    0.166218
1  POINT (963516.987 163505.007)          220       221    0.166218
2   POINT (963570.01 163531.995)          220       221    0.166218
3  POINT (963548.011 163519.007)          220       221    0.166218
4  POINT (963418.988 163445.997)          220       221    0.166218

   Shape_Area       zone  LocationID        borough
0     0.00089  Stapleton         221  Staten Island
1     0.00089  Stapleton         221  Staten Island
2     0.00089  Stapleton         221  Staten Island
3     0.00089  Stapleton         221  Staten Island
4     0.00089  Stapleton         221  Staten Island
Number of records after spatial join: 856087

In [49]:
# We no longer need coordinate after location ID is derived
pluto_gdf = pluto_gdf[['bldgclass', 'lotarea', 'assesstot', 'LocationID']]

In [50]:
pluto_gdf.head()

  bldgclass  lotarea  assesstot  LocationID
0        F5   5396.0   115650.0         221
1        B2   6040.0    48060.0         221
2        B2   3700.0    49260.0         221
3        B2   3822.0    49380.0         221
4        B3   3600.0    32160.0         221

## Extract the buiding class

In [51]:
import string 

# Extract the first letter from 'bldgclass'
pluto_gdf['bldgclass'] = pluto_gdf['bldgclass'].str[0]

# Create columns for all alphabet characters except 'X'
alphabet = [letter for letter in string.ascii_uppercase if letter != 'X']
for letter in alphabet:
    pluto_gdf[letter] = (pluto_gdf['bldgclass'] == letter).astype(int)

# Keep 'assesstot' and 'LocationID' columns
pluto_gdf = pluto_gdf.drop(columns=['bldgclass'])

# Display the result
print(pluto_gdf.head())

   lotarea  assesstot  LocationID  A  B  C  D  E  F  G  ...  P  Q  R  S  T  U  \
0   5396.0   115650.0         221  0  0  0  0  0  1  0  ...  0  0  0  0  0  0
1   6040.0    48060.0         221  0  1  0  0  0  0  0  ...  0  0  0  0  0  0
2   3700.0    49260.0         221  0  1  0  0  0  0  0  ...  0  0  0  0  0  0
3   3822.0    49380.0         221  0  1  0  0  0  0  0  ...  0  0  0  0  0  0
4   3600.0    32160.0         221  0  1  0  0  0  0  0  ...  0  0  0  0  0  0

   V  W  Y  Z
0  0  0  0  0
1  0  0  0  0
2  0  0  0  0
3  0  0  0  0
4  0  0  0  0

[5 rows x 28 columns]

## Scale by area

In [52]:
# Replace 1s with the value from 'lotarea'
for letter in alphabet:
    pluto_gdf[letter] = pluto_gdf[letter] * pluto_gdf['lotarea']

# Keep only the 'assesstot' and 'LocationID' columns and the new alphabet columns
pluto_gdf = pluto_gdf[['assesstot', 'LocationID'] + alphabet]

# Display the result
print(pluto_gdf.head())

   assesstot  LocationID    A       B    C    D    E       F    G    H  ...  \
0   115650.0         221  0.0     0.0  0.0  0.0  0.0  5396.0  0.0  0.0  ...
1    48060.0         221  0.0  6040.0  0.0  0.0  0.0     0.0  0.0  0.0  ...
2    49260.0         221  0.0  3700.0  0.0  0.0  0.0     0.0  0.0  0.0  ...
3    49380.0         221  0.0  3822.0  0.0  0.0  0.0     0.0  0.0  0.0  ...
4    32160.0         221  0.0  3600.0  0.0  0.0  0.0     0.0  0.0  0.0  ...

     P    Q    R    S    T    U    V    W    Y    Z
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 27 columns]

## Get Total building class area for each group

In [53]:
# Group by 'LocationID' and sum all columns within each group
pluto_gdf = pluto_gdf.groupby('LocationID').sum()

# Reset the index to keep 'LocationID' as a column
pluto_gdf = pluto_gdf.reset_index()

# Display the result
print(pluto_gdf.head())

   LocationID     assesstot           A          B          C          D  \
0           2  9.937224e+07         0.0        0.0        0.0        0.0
1           3  5.040730e+08   7047141.0  7150772.0  1515755.0   693401.0
2           4  1.465485e+09      5921.0    10948.0   939143.0  2450346.0
3           5  4.931142e+08  14984624.0  7539322.0    20320.0        0.0
4           6  4.104656e+08   8365839.0  2731549.0   494271.0  1369428.0

          E       F         G        H  ...        P          Q          R  \
0       0.0     0.0   10500.0      0.0  ...      0.0  5948180.0        0.0
1   35244.0  5000.0  327339.0  51860.0  ...  10000.0    27000.0     3700.0
2   22561.0  2237.0   25724.0      0.0  ...   8752.0  2551701.0   203390.0
3       0.0     0.0    3872.0      0.0  ...      0.0  6405899.0   704158.0
4  114660.0     0.0  334819.0  23400.0  ...  75850.0  1002633.0  1885623.0

          S        T          U          V          W          Y          Z
0       0.0      0.0  1799161.0   543604.0        0.0        0.0        0.0
1  221646.0      0.0   382335.0   358631.0   631329.0     5000.0    33152.0
2   64232.0  37225.0   251712.0    26904.0   297268.0    36165.0     4933.0
3   95080.0      0.0        0.0  4136311.0   371240.0     6200.0   357387.0
4  213600.0      0.0   165443.0   778753.0  1587535.0  9055662.0  1247205.0

[5 rows x 27 columns]

In [54]:
print(pluto_gdf.head(263))

     LocationID     assesstot           A          B          C          D  \
0             2  9.937224e+07         0.0        0.0        0.0        0.0
1             3  5.040730e+08   7047141.0  7150772.0  1515755.0   693401.0
2             4  1.465485e+09      5921.0    10948.0   939143.0  2450346.0
3             5  4.931142e+08  14984624.0  7539322.0    20320.0        0.0
4             6  4.104656e+08   8365839.0  2731549.0   494271.0  1369428.0
..          ...           ...         ...        ...        ...        ...
254         259  7.116378e+08   6448219.0  8533873.0  3232477.0   771045.0
255         260  1.139663e+09   1589362.0  3042814.0  3354348.0  1756991.0
256         261  3.670384e+09         0.0        0.0     5157.0   114883.0
257         262  2.783648e+09    105616.0    52017.0   834844.0  1950942.0
258         263  3.719584e+09     31259.0    19254.0  1483897.0  1478581.0

             E         F          G        H  ...         P          Q  \
0          0.0       0.0    10500.0      0.0  ...       0.0  5948180.0
1      35244.0    5000.0   327339.0  51860.0  ...   10000.0    27000.0
2      22561.0    2237.0    25724.0      0.0  ...    8752.0  2551701.0
3          0.0       0.0     3872.0      0.0  ...       0.0  6405899.0
4     114660.0       0.0   334819.0  23400.0  ...   75850.0  1002633.0
..         ...       ...        ...      ...  ...       ...        ...
254   492919.0  197134.0   883298.0  85342.0  ...   45398.0   761083.0
255  1040817.0  890182.0  1281530.0  40050.0  ...   41112.0   542899.0
256        0.0       0.0   280746.0  73365.0  ...       0.0    69145.0
257    44712.0       0.0    20141.0   3104.0  ...  376747.0   661350.0
258     2750.0   11957.0    63294.0      0.0  ...   14273.0    43506.0

             R         S        T          U          V          W          Y  \
0          0.0       0.0      0.0  1799161.0   543604.0        0.0        0.0
1       3700.0  221646.0      0.0   382335.0   358631.0   631329.0     5000.0
2     203390.0   64232.0  37225.0   251712.0    26904.0   297268.0    36165.0
3     704158.0   95080.0      0.0        0.0  4136311.0   371240.0     6200.0
4    1885623.0  213600.0      0.0   165443.0   778753.0  1587535.0  9055662.0
..         ...       ...      ...        ...        ...        ...        ...
254        0.0  239255.0      0.0  2225678.0   867910.0  1192861.0    10300.0
255   492366.0  289561.0      0.0  1871536.0   213687.0   527374.0     6000.0
256   296648.0    3677.0      0.0     4621.0    17355.0    16871.0     4381.0
257   234189.0   28574.0  17095.0        0.0       94.0   112415.0   139889.0
258   736346.0   87978.0      0.0     3867.0    26610.0    88227.0        0.0

             Z
0          0.0
1      33152.0
2       4933.0
3     357387.0
4    1247205.0
..         ...
254   141660.0
255  9679288.0
256       71.0
257     3800.0
258    24604.0

[259 rows x 27 columns]

## Get percentage of each type of building's area and the average land value

In [55]:
# Calculate the total land area for each row
pluto_gdf['total_area'] = pluto_gdf.loc[:, 'A':'Z'].sum(axis=1)

# Calculate the percentage for each column A to Z
for col in pluto_gdf.columns[2:-1]:  # Exclude 'LocationID', 'assesstot', and 'total_area'
    pluto_gdf[col] = (pluto_gdf[col] / pluto_gdf['total_area']) * 100

# Calculate the average land value (assesstot / total_area)
pluto_gdf['avg_land_value'] = pluto_gdf['assesstot'] / pluto_gdf['total_area']

# Display the result
print(pluto_gdf.head())

   LocationID     assesstot          A          B          C          D  \
0           2  9.937224e+07   0.000000   0.000000   0.000000   0.000000
1           3  5.040730e+08  34.133751  34.635702   7.341758   3.358579
2           4  1.465485e+09   0.082010   0.151637  13.007715  33.938818
3           5  4.931142e+08  42.346012  21.305854   0.057424   0.000000
4           6  4.104656e+08  26.889835   8.779861   1.588707   4.401674

          E         F         G         H  ...         R         S         T  \
0  0.000000  0.000000  0.126484  0.000000  ...  0.000000  0.000000  0.000000
1  0.170709  0.024218  1.585509  0.251191  ...  0.017921  1.073571  0.000000
2  0.312484  0.030984  0.356293  0.000000  ...  2.817078  0.889653  0.515589
3  0.000000  0.000000  0.010942  0.000000  ...  1.989925  0.268693  0.000000
4  0.368545  0.000000  1.076189  0.075213  ...  6.060849  0.686562  0.000000

           U          V         W          Y         Z  total_area  \
0  21.672865   6.548306  0.000000   0.000000  0.000000   8301445.0
1   1.851890   1.737076  3.057925   0.024218  0.160576  20645668.0
2   3.486368   0.372637  4.117347   0.500908  0.068325   7219892.0
3   0.000000  11.689067  1.049111   0.017521  1.009963  35386152.0
4   0.531774   2.503101  5.102722  29.107093  4.008819  31111530.0

   avg_land_value
0       11.970475
1       24.415437
2      202.978833
3       13.935230
4       13.193358

[5 rows x 29 columns]

In [56]:
print(pluto_gdf.head(1))

   LocationID   assesstot    A    B    C    D    E    F         G    H  ...  \
0           2  99372240.0  0.0  0.0  0.0  0.0  0.0  0.0  0.126484  0.0  ...

     R    S    T          U         V    W    Y    Z  total_area  \
0  0.0  0.0  0.0  21.672865  6.548306  0.0  0.0  0.0   8301445.0

   avg_land_value
0       11.970475

[1 rows x 29 columns]

In [57]:
# Extract the set of all LocationIDs from 1 to 263
all_location_ids = set(range(1, 264))

# Extract the set of LocationIDs in pluto_gdf
grouped_location_ids = set(pluto_gdf['LocationID'])

# Find the missing LocationIDs
missing_location_ids = all_location_ids - grouped_location_ids

# Print the missing LocationIDs
print(f"Missing LocationIDs: {missing_location_ids}")

Missing LocationIDs: {104, 1, 105, 57}

## Handle case of similar naming for LocationID

In [58]:
# Select the row with LocationID 103 and create new rows for 104 and 105 (I suspect that since 103-105 
# has similar naming zone so it's a point of confusion
row_103 = pluto_gdf[pluto_gdf['LocationID'] == 103]
row_104 = row_103.copy()
row_104['LocationID'] = 104

row_105 = row_103.copy()
row_105['LocationID'] = 105

# Select the row with LocationID 56 and create a new row for 57(similar case as above)
row_56 = pluto_gdf[pluto_gdf['LocationID'] == 56]
row_57 = row_56.copy()
row_57['LocationID'] = 57

# Append the new rows to the original DataFrame
pluto_gdf = pd.concat([pluto_gdf, row_104, row_105, row_57], ignore_index=True)

# Verify the results
print(pluto_gdf[pluto_gdf['LocationID'].isin([103, 104, 105, 56, 57])])

     LocationID    assesstot         A          B          C          D  \
54           56  980357622.0  6.130376  19.035176  31.064828  16.216995
100         103  282744123.0  0.000000   0.000000   0.000000   0.000000
259         104  282744123.0  0.000000   0.000000   0.000000   0.000000
260         105  282744123.0  0.000000   0.000000   0.000000   0.000000
261          57  980357622.0  6.130376  19.035176  31.064828  16.216995

            E         F         G         H  ...         R         S    T  \
54   0.824886  1.741092  3.842485  0.680907  ...  1.704831  2.928665  0.0
100  0.000000  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.0
259  0.000000  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.0
260  0.000000  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.0
261  0.824886  1.741092  3.842485  0.680907  ...  1.704831  2.928665  0.0

            U         V        W          Y          Z  total_area  \
54   4.046692  0.578136  2.72181   0.115072   0.471822  13405492.0
100  0.000000  0.000000  0.00000  70.061166  25.031677  11042768.0
259  0.000000  0.000000  0.00000  70.061166  25.031677  11042768.0
260  0.000000  0.000000  0.00000  70.061166  25.031677  11042768.0
261  4.046692  0.578136  2.72181   0.115072   0.471822  13405492.0

     avg_land_value
54        73.131044
100       25.604461
259       25.604461
260       25.604461
261       73.131044

[5 rows x 29 columns]

In [59]:
pluto_gdf = pluto_gdf.drop(columns=['total_area', 'assesstot'])

In [60]:
print(pluto_gdf.head(1))

   LocationID    A    B    C    D    E    F         G    H    I  ...  \
0           2  0.0  0.0  0.0  0.0  0.0  0.0  0.126484  0.0  0.0  ...

           Q    R    S    T          U         V    W    Y    Z  \
0  71.652345  0.0  0.0  0.0  21.672865  6.548306  0.0  0.0  0.0

   avg_land_value
0       11.970475

[1 rows x 27 columns]

In [61]:
# Print the row of jfk airport 
jfk_row = pluto_gdf[pluto_gdf['LocationID'] == 132]
print(jfk_row)

     LocationID    A    B    C    D    E    F         G    H    I  ...  \
127         132  0.0  0.0  0.0  0.0  0.0  0.0  0.372222  0.0  0.0  ...

            Q    R    S         T         U         V    W         Y    Z  \
127  0.127742  0.0  0.0  98.79084  0.666143  0.030398  0.0  0.012655  0.0

     avg_land_value
127       35.495868

[1 rows x 27 columns]

In [62]:
# Select the row with LocationID = 132 (JFK Airport)
jfk_row = pluto_gdf[pluto_gdf['LocationID'] == 132].copy()

# Modify the LocationID to 1 (Newark Airport)
jfk_row['LocationID'] = 1

# Append the new row to the original DataFrame
pluto_gdf = pd.concat([pluto_gdf, jfk_row], ignore_index=True)

# Print the new row to verify
print(pluto_gdf[pluto_gdf['LocationID'] == 1])

     LocationID    A    B    C    D    E    F         G    H    I  ...  \
262           1  0.0  0.0  0.0  0.0  0.0  0.0  0.372222  0.0  0.0  ...

            Q    R    S         T         U         V    W         Y    Z  \
262  0.127742  0.0  0.0  98.79084  0.666143  0.030398  0.0  0.012655  0.0

     avg_land_value
262       35.495868

[1 rows x 27 columns]

# Export the processed external dataset

In [63]:
import os

output_dir = '../data/processed_external_data'

# Check if the directory exists, and create if not
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# Export weather data
weather_data.to_csv(os.path.join(output_dir, 'processed_weather_data.csv'), index=False)

# Export PLUTO data
pluto_gdf.to_csv(os.path.join(output_dir, 'processed_pluto_data.csv'), index=False)

print("Data has been successfully exported to the processed_external directory.")

Data has been successfully exported to the processed_external directory.